<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>818923556180-f0b7j50tl2hfbdqis557dccss9lfnbc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818923556180-f0b7j50tl2hfbdqis557dccss9lfnbc5</string>
	<key>API_KEY</key>
	<string>AIzaSyAcV_JJjC8BKoDRh_1KCKVmQGFDlx6f1To</string>
	<key>GCM_SENDER_ID</key>
	<string>818923556180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kurbs.Circle</string>
	<key>PROJECT_ID</key>
	<string>circle-528ca</string>
	<key>STORAGE_BUCKET</key>
	<string>circle-528ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818923556180:ios:4df061cd146f7975</string>
	<key>DATABASE_URL</key>
	<string>https://circle-528ca.firebaseio.com</string>
</dict>
</plist>